<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{firstName}} {{lastName}}'s USIT Dashboard</title>
    <link rel="icon" href="http://static1.squarespace.com/static/55329952e4b07fb5e0470317/t/5534a7fde4b0f20e2b61a215/1483161159788/?format=1500w">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/dashboard.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body class="page-container">

    <div class="header-banner">
      <img src="//static1.squarespace.com/static/55329952e4b07fb5e0470317/t/5534a7fde4b0f20e2b61a215/1483161159788/?format=1500w" class="usit-icon">
      <div class="dropdown">
        <a href="#dropdown" role="button" data-toggle="dropdown" class="user-name">{{firstName}} {{lastName}} <i class="fa fa-angle-down"></i></a>
        <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{firstName}} {{lastName}}</button> -->
        <ul class="dropdown-menu pull-right">
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          <li><a href="#">Change Password</a></li>
        </ul>
      </div>
    </div>

    <!-- Total Returns -->
    <section class="positions-container">

      <div id="headerTitle">
        Voting Challenge Dashboard
      </div>

      <div class="stats-container">
        <div class="stats-box">
          <div class="stats-header">Rank</div>
          <div class="stats-text">{{standing}}</div>
        </div>

        {% set totalReturnDisplay = (totalReturn*100)|round(2, 'common') %}

        <div class="stats-box">
          <div class="stats-header">Return</div>
          <div class="stats-text">{{totalReturnDisplay}}%</div>
        </div>

        <div class="stats-box">
          <div class="stats-header">Score</div>
          <div class="stats-text">0</div>
        </div>
      </div>

        <!-- <div class="stats-text">
          <h2> Welcome, {{firstName}} {{lastName}}!</h2>
          <h3>Rank: {{standing}}</h3>
          {% set totalReturnDisplay = (totalReturn*100)|round(2, 'common') %}
          <h3>Total Return: {{totalReturnDisplay}}%</h3>
        </div> -->
    </section>


<!-- ACTIVE STOCKS -->
    {% if numActiveStocks != 0 %}

      <section class="positions-container"> <!--for demo wrap-->

        <h1>Active Positions</h1>

        <div class="boxes-container">

          {% set count = 1 %}
          {% for ticker in stocks %}
          {% set gain = prices[ticker.ticker]-ticker.startingPrice %}

          <div class="ticker-box">
            <div class="ticker-symbol">
              {% set id = ticker.ticker + "Modal" %}
              {% set idLink = "#" + id %}

              <a href={{idLink}} role="button" data-toggle="modal">{{ticker.ticker}}</a>

              <div class="modal fade" id={{id}} role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{ticker.ticker}}</h4>
                    </div>
                    <!-- Placeholder for the graph -->
                    {% set url = "http://chart.finance.yahoo.com/z?s=" + ticker.ticker + "&t=6m&q=l&l=on&z=s&p=m50,m200" %}
                    <img src={{url}} class="stock-graph">
                    <!-- Description of the stock (text placeholder) -->
                    <div class="modal-body">
                      <p class="stock-description">Description of stock.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

              {% set exitId = "exit" + ticker.ticker + "Modal" %}
              {% set exitIdLink = "#" + exitId %}

              <a href={{exitIdLink}} role="button" data-toggle="modal" class="ticker-exit-icon">
                <i class="fa fa-times" style="font-size: 20px;" title="Exit this Position"></i>
              </a>

              <div class="modal fade" id={{exitId}} role="dialog">
                <div class="modal-dialog" style="background-color: white">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title"> Sell {{ticker.ticker}}?</h4>
                    </div>
                    <div class="modal-body">
                      <p class="stock-description">Are you sure you wish to sell {{ticker.ticker}}?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a href="{{url_for('exitPosition', exitIndex=count)}}" >
                        <button type="button" class="btn btn-default">Yes</button>
                      </a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="ticker-name">{{names[ticker.ticker]}}</div>
            {% set todayPercent = percentChanges[ticker.ticker] %}
            {% set todayGain = changes[ticker.ticker] %}
            <div class="ticker-price">
              {% if todayGain < 0 %}
                <i class="fa fa-arrow-down" style="font-size: 30px"></i>
              {% endif %}
              {% if todayGain == 0 %}
                <i class="fa fa-arrow-right" style="font-size: 30px"></i>
              {% endif %}
              {% if todayGain > 0 %}
                <i class="fa fa-arrow-up" style="font-size: 30px"></i>
              {% endif %}
              <span class="ticker-price">{{prices[ticker.ticker]}}</span>
              <span class="ticker-currency">USD</span>
            </div>
            <table cellpadding="0">
              <tr>
                <td class="gain-description">Today</td>
                {% if todayGain < 0 %}
                  <td class="gain-negative">{{todayGain}}</td>
                  <td class="gain-negative">{{todayPercent}}</td>
                {% endif %}
                {% if todayGain >= 0 %}
                  <td class="gain-positive">{{todayGain}}</td>
                  <td class="gain-positive">{{todayPercent}}</td>
                {% endif %}
              </tr>
              <tr>
                  <!-- TODO Need to edit this -->
                {% set percent = (gain/(ticker.startingPrice)*100)|round(2,'common') %}
                <td class="gain-description">Total</td>
                {% if totalPercents[ticker.ticker] < 0 %}
                  <td class="gain-negative">{{totalGains[ticker.ticker]}}</td>
                  <td class="gain-negative">{{(totalPercents[ticker.ticker])}}%</td>
                {% endif %}
                {% if totalPercents[ticker.ticker] >= 0 %}
                  <td class="gain-positive">{{totalGains[ticker.ticker]}}</td>
                  <td class="gain-positive">{{totalPercents[ticker.ticker]}}%</td>
                {% endif %}
              </tr>
            </table>
            {% set updateDateTime = dates[ticker.ticker] %}
            <div class="date-time">{{updateDateTime}}</div>
        </div>

          {% set count = count + 1 %}
          {% endfor %}

        </div>

      </section>

    {% endif %}

<!-- EXITED STOCKS -->

    {% if numExitedStocks != 0 %}
      <section class="positions-container"> <!--for demo wrap-->

        <h1>Exited Positions</h1>

        <div class="boxes-container">

          {% for ticker in exitedStocks %}
          {% set gain = ticker.end_price - startingPrices[ticker.ticker] %}

          <div class="ticker-box">
            <div class="ticker-symbol">
              {% set id = ticker.ticker + "Modal" %}
              {% set idLink = "#" + id %}

              <a href={{idLink}} role="button" data-toggle="modal" style="color: white">{{ticker.ticker}}</a>

              <div class="modal fade" id={{id}} role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{ticker.ticker}}</h4>
                    </div>
                    <!-- Placeholder for the graph -->
                    {% set url = "http://chart.finance.yahoo.com/z?s=" + ticker.ticker + "&t=6m&q=l&l=on&z=s&p=m50,m200" %}
                    <img src={{url}} class="stock-graph">
                    <!-- Description of the stock (text placeholder) -->
                    <div class="modal-body">
                      <p class="stock-description">Description of stock.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="ticker-name">{{exitedStocksNames[ticker.ticker]}}</div>
            <div class="ticker-price">
              {% if gain < 0 %}
                <i class="fa fa-arrow-down" style="font-size: 30px"></i>
              {% endif %}
              {% if gain == 0 %}
                <i class="fa fa-arrow-right" style="font-size: 30px"></i>
              {% endif %}
              {% if gain > 0 %}
                <i class="fa fa-arrow-up" style="font-size: 30px"></i>
              {% endif %}
              <span class="ticker-price">{{ticker.end_price}}</span>
              <span class="ticker-currency">USD</span>
            </div>
            <table cellpadding="0">
              <tr>
                {% set percent = (gain/(startingPrices[ticker.ticker])*100)|round(2,'common') %}
                <td class="gain-description">Total</td>
                {% if percent < 0 %}
                  <td class="gain-negative">{{gain}}</td>
                  <td class="gain-negative">{{percent}}%</td>
                {% endif %}
                {% if percent > 0 %}
                  <td class="gain-positive">{{gain}}</td>
                  <td class="gain-positive">{{percent}}%</td>
                {% endif %}
              </tr>
            </table>
            <div class="sell-date">{{ticker.date}}</span>
            </div>
            {% set updateDateTime = exitedStockDates[ticker.ticker] %}
            <div class="date-time">{{updateDateTime}}</div>
          </div>

          {% endfor %}

        </div>

      </section>
    {% endif %}

      <!-- #main-container -->

    <div class="footer-container">
        <footer class="wrapper">
            Copyright © 2016 University Securities Investment Team All Rights Reserved.
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/main.js"></script>
  </body>
</html>
