<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/dashboard.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div id="headerTitle">
        Voting Challenge Dashboard
    </div>

    <!-- Total Returns -->
    <section>

        <div style="color: white">
          <h2> Welcome, {{firstName}} {{lastName}}!</h2>
          <h3>Rank: {{standing}}</h3>
          {% set totalReturnDisplay = (totalReturn*100)|round(2, 'common') %}
          <h3>Total Return: {{totalReturnDisplay}}%</h3>
        </div>
    </section>

    <!-- Modal sample -->

      <!-- /////////////////////// END OF TOTAL RETURNS ////////////////////////////// -->


      <!-- transparent clear table -->
    {% if numActiveStocks != 0 %}

      <section> <!--for demo wrap-->

        <h1>Active Positions</h1>

        <div class="positions-container">

          {% set count = 1 %}
          {% for ticker in stocks %}
          {% set gain = prices[ticker.ticker]-ticker.startingPrice %}

          <div class="ticker-box">
            <div class="ticker-code">
              {% set id = ticker.ticker + "Modal" %}
              {% set idLink = "#" + id %}

              <a href={{idLink}} role="button" data-toggle="modal" style="color: white">{{ticker.ticker}}</a>

              <div class="modal fade" id={{id}} role="dialog">
                <div class="modal-dialog" style="background-color: white">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" style="color: #2a3843">{{ticker.ticker}}</h4>
                    </div>
                    <!-- Placeholder for the graph -->
                    {% set url = "http://chart.finance.yahoo.com/z?s=" + ticker.ticker + "&t=6m&q=l&l=on&z=s&p=m50,m200" %}
                    <img src={{url}} class="stock-graph">
                    <!-- Description of the stock (text placeholder) -->
                    <div class="modal-body" style="color: #2a3843;">
                      <p style="font-size: 15px;">Description of stock.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

              {% set exitId = "exit" + ticker.ticker + "Modal" %}
              {% set exitIdLink = "#" + exitId %}

              <a href={{exitIdLink}} role="button" data-toggle="modal" class="ticker-exit-icon">
                <i class="fa fa-times" style="font-size: 20px;" title="Exit this Position"></i>
              </a>

              <div class="modal fade" id={{exitId}} role="dialog">
                <div class="modal-dialog" style="background-color: white">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" style="color: #2a3843"> Sell {{ticker.ticker}}?</h4>
                    </div>
                    <div class="modal-body" style="color: #2a3843;">
                      <p style="font-size: 15px;">Are you sure you wish to sell {{ticker.ticker}}?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a href="{{url_for('exitPosition', exitIndex=count)}}" >
                        <button type="button" class="btn btn-default">Yes</button>
                      </a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="ticker-name">{{names[ticker.ticker]}}</div>
            <div class="ticker-price">
              {% if gain < 0 %}
                <i class="fa fa-arrow-down" style="font-size: 30px"></i>
              {% endif %}
              {% if gain == 0 %}
                <i class="fa fa-arrow-right" style="font-size: 30px"></i>
              {% endif %}
              {% if gain > 0 %}
                <i class="fa fa-arrow-up" style="font-size: 30px"></i>
              {% endif %}
              <span style="font-size: 30px;">{{prices[ticker.ticker]}}</span>
              <span style="font-size: 20px;">USD</span>
            </div>
            <div class="percent-gain">
              {% set percent = (gain/(ticker.startingPrice)*100)|round(2,'common') %}
              {% if percent < 0 %}
                <span style="color: #FF5252; padding-right: 45px;">{{gain}}</span>
                <span style="color: #FF5252;">{{percent}}%</span>
              {% endif %}
              {% if percent > 0 %}
                <span style="color: #69F0AE; padding-right: 45px;">{{gain}}</span>
                <span style="color: #69F0AE;">{{percent}}%</span>
              {% endif %}
            </div>
          </div>

          {% set count = count + 1 %}
          {% endfor %}

        </div>
        </a>

      </section>

    {% endif %}


    {% if numExitedStocks != 0 %}
      <section> <!--for demo wrap-->

        <h1>Exited Positions</h1>

        <div class="positions-container">

          {% for ticker in exitedStocks %}
          {% set gain = ticker.end_price - startingPrices[ticker.ticker] %}

          <div class="ticker-box">
            <div class="ticker-code">
              {% set id = ticker.ticker + "Modal" %}
              {% set idLink = "#" + id %}

              <a href={{idLink}} role="button" data-toggle="modal" style="color: white">{{ticker.ticker}}</a>

              <div class="modal fade" id={{id}} role="dialog">
                <div class="modal-dialog" style="background-color: white">

                  <!-- Modal content-->
                  <div classd="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" style="color: #2a3843">{{ticker.ticker}}</h4>
                    </div>
                    <!-- Placeholder for the graph -->
                    {% set url = "http://chart.finance.yahoo.com/z?s=" + ticker.ticker + "&t=6m&q=l&l=on&z=s&p=m50,m200" %}
                    <img src={{url}} class="stock-graph">
                    <!-- Description of the stock (text placeholder) -->
                    <div class="modal-body" style="color: #2a3843;">
                      <p style="font-size: 15px;">Description of stock.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="ticker-name">{{exitedStocksNames[ticker.ticker]}}</div>
            <div class="ticker-price">
              {% if gain < 0 %}
                <i class="fa fa-arrow-down" style="font-size: 30px"></i>
              {% endif %}
              {% if gain == 0 %}
                <i class="fa fa-arrow-right" style="font-size: 30px"></i>
              {% endif %}
              {% if gain > 0 %}
                <i class="fa fa-arrow-up" style="font-size: 30px"></i>
              {% endif %}
              <span style="font-size: 30px;">{{ticker.end_price}}</span>
              <span style="font-size: 20px;">USD</span>
            </div>
            <div class="percent-gain">
              {% set percent = (gain/(startingPrices[ticker.ticker])*100)|round(2,'common') %}
              {% if percent < 0 %}
                <span style="color: red; padding-right: 45px;">{{gain}}</span>
                <span style="color: red;">{{percent}}%</span>
              {% endif %}
              {% if percent > 0 %}
                <span style="color: green; padding-right: 45px;">{{gain}}</span>
                <span style="color: green;">{{percent}}%</span>
              {% endif %}
            </div>
            <div class="exit-date">{{ticker.date}}</span>
            </div>
          </div>

          {% endfor %}

        </div>

      </section>
    {% endif %}

      <!-- #main-container -->

    <div class="footer-container">
        <footer class="wrapper">
            <a href="{{url_for('logout')}}">Logout</a>
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/main.js"></script>
  </body>
</html>
